* {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
}

@font-face {
    font-family:'TitleFont';
    src:url("../fontes/Nabla-Regular-VariableFont_EDPT\,EHLT.ttf");
}

h3 {
    font-family: TitleFont;
}

header {
    background-color: lightblue;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header nav ul {
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

header nav ul li {
    margin: 0 25px;
    display: flex;
    text-transform: uppercase;
}

header nav ul li a {
    color: black;
    text-decoration: none;
    padding: 8px 20px;
    font-size: x-large;
}

header nav ul li a:hover{
    border-radius: 35px;
    border:0 solid white;
    background-color: white;
    color: lightblue;
    text-decoration: none;
    transition: 4ms linear;
}

nav i {
    padding-right: 6.5px;
}

.img {
    width: 50px;
}

main {
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
}
.text p {
    font-size: x-large;
    text-align: justify;
    padding-top: 35px;
}
.btn{
    background-color: yellow;
}
.btn:hover{
    background-color: lightblue;
}

h1, h2, h4 {
    text-align: center;
    margin: 0;
}

h3 {
    font-size: 80px;
    margin-right: 10%;
}

.banner {
    display: flex;
    height: 500px;
    background-image: url("../imagens/banner-index.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-content: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    user-select:none
}

.alinhado {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.alinhado p a{
    color: black;
}
.alinhado p a:hover{
    color: black;
}
.container {
    margin-top: 30px;
}

.row {
    display: flex;
    justify-content: center;
}

.col {
    width: 30rem;
}


.card {
    display: flex;
    margin-top: 15px;
    max-width: max-content;
}

.card-body,.card-text {
    padding: 15px;
}

.card a {
    justify-content: center;
}

.container img {
    height: auto;
}

.img-sobre, .img-profissional {
    width: 85%;
    border-radius: 30px;
}

.profissional-main {
    margin: 15px 0;
    padding:0px 100px;
}

.profissional-footer {
    margin: 15px 0;
    padding: 30px 200px;
}

.profissional-footer h2 {
    padding-bottom: 15px;
}

footer {
    background-color: lightblue;
    color: black;
    padding: 20px 0;
    width: 100%;
    position: relative;
    left: 0;
    bottom: 0;
}

label {
    width: 100%;
    font-weight: bold;
}

input,
textarea {
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px;
    ;
}

button {
    border: 0;
    background: lightblue;
    padding: 10px;
    color: #FFF;
}
button{
    color: black;
    border-radius: 10%;
}